# IDE files
.idea/
.vscode/

# CMake build folders
build/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

# Executables / objects
sim
sim4
dijkstra
*.o
*.exe
*.out

# macOS files
.DS_Store